html,body{
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

h4{
    margin: 0;
    padding: 0;
}

::placeholder{
    color: #7676a1bd;
    font-size: 0.9rem;
}

/* --------navbar area-------- */

.navbar{
    background-color: whitesmoke;
    display: flex;
    /* border: 2px solid yellow; */
    justify-content: space-between;
    padding: 1em;
    color: gray;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .5s;
}

.name-logo-and-genre{
    /* border: 2px solid white; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}


/* ---------name-and-logo */

.name-and-logo{
    display: flex;
    /* border: 2px solid red; */
    margin-left: 2em;
    padding: 0.5em;
}

.name-and-logo i{
    font-size: 1.8rem;
    /* border: 2px solid blue; */
}

.name-and-logo h1{
    margin: 0;
    text-transform: uppercase;
}

.name-and-logo div{
    margin-left: 1em;
}

/* ------------generes--------- */

.genres{
    display: flex;
    list-style: none;
    /* border: 2px solid brown; */
    margin: 0;
    padding: 0;
    /* margin-right: 0.5em; */
    text-transform: capitalize;
}

.genres a{
    margin-left: 1em;
    font-size: 1.1rem;
    /* color: gray; */
    /* border: 2px solid white; */
    padding: 0.5em;
    border-radius: 10px;
    /* background-color: #fca311; */
}

.genres a li{
    color: gray;
}



/* -----------ham and shop-------- */

.ham-and-shop{
    /* border: 2px solid red; */
    display: flex;
    padding: 0.3em;
    font-size: 1.4rem;
    margin-right: 1em;
}

.ham-and-shop i{
    color: gray;
}
.shop{
    margin: 0 1em 0 1em;
}

.ham{
    display: none;
}

/* ---------popular----------- */

.popular-heading{
    margin-top: 110px;
    margin-left: 1em;
    text-transform: uppercase;
    color: gray;
    /* margin-top: 1em; */
}

.popular{
    margin-top: 1em;
    height: 350px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* background-color: bisque; */
}
.popular::-webkit-scrollbar {
    display: none;
  }

/* -----books covers and tiles-------- */

.books{
    width: 35em;
    background-color: #f06969d8;
    height: 250px;
    display: flex;
    color: white;
    margin: 0.2em;
}

.description{
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.description h4{
    text-transform: capitalize;
}

.description-container{
    /* padding: 1em; */
    overflow: hidden;
    /* height: 99px; */
    width: 15em;
    line-break: auto;
}

.description p{
    margin-top: 0.3em;
}

.buy-this{
    /* margin-top: 2em; */
    background-color: white;
    border-radius: 20px;
    padding: 0.4em 0.6em 0.4em 0.6em;
    display: inline-block;

}
.buy-this p{
    margin: 0;
    color: #f06969d8;
}

.popular img{
    width: 11em;
    height: 270px;
    margin-top: 2em;
    margin-left: 1.5em;
    box-shadow: 3px 3px 22px rgb(31, 30, 30);
}


/* ----------All genres------------- */

.allgenres-heading h2{
    margin-left: 1em;
    color: gray;
    text-transform: uppercase;
    margin-top: 2em;
}

.allgenres{
    /* height: 250px; */
    display: flex;
    justify-content: space-around;
}

.area1{
    width: 47%;
    /* border: 2px solid red; */
    display: flex;
    padding: 1em;
    justify-content: space-between;

}

.smallbook{
    width: 49%;
    /* border: 2px solid black; */
    height: 220px;
    display: flex;
    box-shadow: 2px 2px 20px rgb(141, 139, 139);

}

.smallbook img{
    height: 100%;
    width: 150px;
}


.smalldescription h4{
    margin-top: 1em;
    margin-left: 1em;
    color: rgb(51, 49, 49);
    text-transform: capitalize;
}

.smalldescription p{
    margin-top: 0.5em;
    margin-left: 1em;
    color: gray;
}

.stars{
    display: flex;
    margin: 1em;
    color: rgb(255, 196, 0);
}


/* ---------footer-area--------- */

.foot{
    border: 2px solid;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    background-color: #22223b;
}

.messagearea{
    width: 48%;
    /* border: 2px solid ; */
}

.email{
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
}

.message{
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.messagearea h2{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 0;
    text-align: center;
    margin-bottom: 2em;
    color: whitesmoke;
}

.messagearea input[type=text]{
    width: 80%;
    margin-bottom: 2em;
    vertical-align: top;
    border: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid white;
    background-color: #22223b;
    color: white;
    font-size: 1rem;
    /* text-align: center; */
}

input[type=text]:focus{
    outline: none;
}

textarea{
    width: 80%;
    height: 150px;
    margin-bottom: 1em;
    resize: none;
    border: 0;
    border-bottom: 2px solid white;
    background-color: #22223b;
    font-size: 1rem;
    color: white;
}

textarea:focus{
    outline: none;
}

input[type=submit]{
    padding: 0.7em 0.5em;
    background-color: #ff0000;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

.social{
    width: 48%;
    display: flex;
    align-items: flex-end;
}

.socialwrapper{
    width: 100%;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons li{
    list-style: none;
    font-size: 2rem;
    margin-left: 1em;
    color: white;
}

.socialicons ul{
    display: flex;
    padding: 0;
}

.mentions{
    color: #7676a1bd;
    display: flex;
    justify-content: center;
}

.mentions p{
    padding: 0;
    margin: 0.4em;
    text-transform: capitalize;
    font-size: 0.8rem;
}


/* --------media-queries--------- */


/*-------for displaying genres resposively--------*/

@media(max-width: 1000px){
    .ham{
        display: block;
    }

    .shop{
        margin-right: 0.5em;
        margin-left: 1.2em
    }

    .name-logo-and-genre{
        flex-direction: column;
    }

    .genres{
        margin-top: 1em;
        display: none;
        margin-left: 0em;
        width: fit-content;
    }

    .respo-gen{
        display: flex;
        flex-direction: column;
        /* display: block; */
    }

    .name-and-logo{
        margin-left: 0em;
    }

}

/* --------for books tiles--------- */

@media(max-width: 600px){
    .popular{
        flex-direction: column;
        overflow-y: scroll;
        height: 500px;
    }

    .books{
        width: 100%;
        margin: 0;
        margin-bottom: 4em;
        height: 300px;
    }

    .popular img{
        height: 200px;
        margin-top: 1em;
        transition: 0.5s;
    }

    .description-container{
        width: 100%;
        height: 65px;
    }

}

@media(max-width: 400px){
    .buy-this{
        margin-top: 0.5em;
    }

}


/* ----------for small books--------- */

@media(max-width: 1200px){
    .area1{
        flex-direction: column;
        width: 100%;
    }

    .smallbook{
        width: 100%;
        margin-bottom: 2em;
    }


}

@media(max-width: 600px){
    .allgenres{
        flex-direction: column;
    }

    .area1{
        padding: 0;
    }
    .smallbook{
        width: 90%;
        margin-left: 1em;
    }
}

/* --------footer--------- */

@media(max-width: 1000px){
    .foot{
        flex-direction: column;
    }

    .social,.messagearea{
        width: 100%;
    }

    .messagearea{
        margin-bottom: 2em;
    }
}


/* ------hover area------- */

.genres a li:hover{
    color: black;
}

.ham-and-shop i:hover{
    color: black;
}

.buy-this p:hover{
    font-weight: bold;
}

.fa-instagram:hover{
    color: rgb(218, 31, 218);
}

.fa-facebook:hover{
    color: rgb(0, 102, 255);
}

.fa-twitter-square:hover{
    color: rgb(0, 166, 231);
}

.fa-pinterest:hover{
    color: rgb(241, 65, 65);
}

input[type=submit]:hover{
    filter: contrast(90%);
}