html,body{
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

/* --------navbar area-------- */

.navbar{
    background-color: whitesmoke;
    display: flex;
    /* border: 2px solid yellow; */
    justify-content: space-between;
    padding: 1em;
    color: gray;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .5s;
    /* height: 50px; */
}

.name-logo-and-genre{
    /* border: 2px solid white; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}


/* ---------name-and-logo */

.name-and-logo{
    display: flex;
    /* border: 2px solid red; */
    margin-left: 2em;
    padding: 0.5em;
}

.name-and-logo i{
    font-size: 1.8rem;
    /* border: 2px solid blue; */
}

.name-and-logo h1{
    margin: 0;
    text-transform: uppercase;
}

.name-and-logo div{
    margin-left: 1em;
}

/* ------------generes--------- */
.genres{
    display: flex;
    list-style: none;
    /* border: 2px solid brown; */
    margin: 0;
    padding: 0;
    /* margin-right: 0.5em; */
    text-transform: capitalize;
}

.genres a{
    margin-left: 1em;
    font-size: 1.1rem;
    /* color: gray; */
    /* border: 2px solid white; */
    padding: 0.5em;
    border-radius: 10px;
    /* background-color: #fca311; */
}

.genres a li{
    color: gray;
}



/* -----------ham and shop-------- */

.ham-and-shop{
    /* border: 2px solid red; */
    display: flex;
    padding: 0.3em;
    font-size: 1.4rem;
    margin-right: 1em;
}

.ham-and-shop i{
    color: gray;
}
.shop{
    margin: 0 1em 0 1em;
}

.ham{
    display: none;
}

/* ---------popular----------- */

.popular-heading{
    margin-top: 110px;
    margin-left: 1em;
    text-transform: uppercase;
    color: gray;
    /* margin-top: 1em; */
}

.popular{
    margin-top: 1em;
    height: 350px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* background-color: bisque; */
}
.popular::-webkit-scrollbar {
    display: none;
  }



.books{
    width: 33em;
    background-color: #f06969d8;
    height: 250px;
    display: flex;
    color: white;
    margin: 0.2em;
}

.description{
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.description h4{
    text-transform: capitalize;
}

.description-container{
    /* padding: 1em; */
    overflow: hidden;
    height: 99px;
    width: 15em;
    text-overflow: ellipsis;
}

p{
    margin-top: 0.3em;
}

.buy-this{
    /* margin-top: 2em; */
    background-color: white;
    border-radius: 20px;
    padding: 0.4em 0.6em 0.4em 0.6em;
    display: inline-block;

}
.buy-this p{
    margin: 0;
    color: #f06969d8;
}


h4{
    margin: 0;
    padding: 0;
}

.popular img{
    width: 11em;
    height: 270px;
    margin-top: 2em;
    margin-left: 1.5em;
    box-shadow: 3px 3px 22px rgb(31, 30, 30);
}

/* --------media-queries--------- */


/*-------for displaying genres resposively--------*/
@media(max-width: 1000px){
    .ham{
        display: block;
    }

    .shop{
        margin-right: 0.5em;
        margin-left: 1.2em
    }

    .name-logo-and-genre{
        flex-direction: column;
    }

    .genres{
        flex-direction: column;
        margin-top: 1em;
        display: none;
        margin-left: 0em;
        width: fit-content;
    }

    .respo-gen{
        display: flex;
        /* display: block; */
    }

    .name-and-logo{
        margin-left: 0em;
    }

}


@media(max-width: 600px){
    .popular{
        flex-direction: column;
        overflow-y: scroll;
    }

    .books{
        width: 100%;
        margin: 0;
        margin-bottom: 4em;
    }

    .popular img{
        height: 250px;
    }

    .description-container{
        width: 100%;
        /* height: 70px; */
        text-overflow: ellipsis;
    }

}

@media(max-width: 400px){
    .buy-this{
        margin-top: 1em;
    }
}


/* ------hover area------- */

.genres a li:hover{
    color: black;
}

.ham-and-shop i:hover{
    color: black;
}
