html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

p{
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-around;
}

.wrapper{
    width: 30%;
}
.box1, .box2, .box3{
    height: 600px;
    /* width: 30%; */
    background-color: yellow;
}

.box1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.insidebox1{
    height: 46%;
    display: flex;
    justify-content: space-between;
    /* background-color: cyan; */
}

.insidebox2w{
    display: flex;
    justify-content: center;
    height: 46%;
}

.temp{
    height: 100%;
    background-color: cyan;
    width: 45%;
}

.insidebox2{
    width: 95%;
    height: 100%;
    background-color: cyan;
}

.box2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.insidebox22{
    height: 90%;
    width: 45%;
    background-color: cyan;
}

.box3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.temp1{
    height: 100%;
    width: 43%;
    background-color: cyan;
}

.temp2{
    height: 100%;
    width: 43%;
    /* border: 2px solid; */
    display: flex;
    align-items: flex-end;
}

.insidebox3,.insidebox33{
    width: 90%;
    height: 46%;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid; */
}


img{
    width: 80%;
    height: 50%;
}

.insidebox33 .temp2{
    align-items: flex-start;
    justify-content: flex-end;
}


@media(max-width: 768px){
    .container{
        flex-direction: column;
        align-items: center;
    }

    .wrapper{
        width: 70%;
        margin-bottom: 1em;
    }

    img{
        width: 100%;
        height: 70%;
    }

    .box2{
        flex-direction: column;
    }

    .insidebox22{
        width: 90%;
        height: 45%;
    }

    .temp2{
        align-items: flex-start;
        justify-content: flex-end;
    }
    .insidebox33 .temp2{
        align-items: flex-end;
        justify-content: flex-end;
    }

}